body{
    font-family: monospace;
    font-size: 1.5em;
    }
.bln{padding:10px;
     border: 1px solid #f2f2f2;
     background: #e1ebee;
     }
.ngn{float: right;}
.rese{display: flex;
      justify-content: space-between;
      margin-top:10px;
}
button{padding:10px;
     border: 2px solid #f2f2f2;
     background: #e1ebee;
     outline:none;
     }

.history{border-top: 2px solid #e1ebee;
        display: flex;
        justify-content: space-between;}
.render{
        margin-top: 15px;}
img{ width: 100%;
     border-radius: 5px;}
img:hover{display:none;}
